*{
    font-family: Arial, san-serif;
    font-size:19px;
    line-height: 1.3;
    box-sizing: border-box;
}
.container{
    max-width:1000px;
    padding:20px;
    margin: 40px auto;

}
.container.large{
    max-width:900px;
}
.page-title, .sub-title{
    text-align:center;
    color:#7B3F00;
    margin: 0 0 1px;
    font-size:36px;
}
.page-title{
    font-weight: bold;
}
.list-box{
    border-left:2px solid #007BFF;
    line-height:1;
    padding-left:16px;
    margin-bottom:20px;
}
.section-title{
    margin: 0 0 12px;
    font-size:0.8rem;
    color:#007BFF;
}
.btn{
    display:inline-block;
    padding:10px 20px;
    font-size:36px;
    width: 100%;
    color:#fff;
    background-color: #7B3F00;
    border:none;
    border-radius: 20px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition:background-color 0.3s ease;
}
.text-link{
    color:#007BFF;
    text-decoration: none;
    transition:color 0.3s ease;
}
.btn, text-link{
transition:transform 0.2s ease;
}
.btn:hover{
    transform:translateY(-2px);
    background-color:#a55500;

}
.text-link:hover{
     transform:translateY(-2px);
    color: #a55500;
    text-decoration:underline; 
}
.btn-group{
    margin-top: 20px;
    text-align: center;
    font-size: 36px;
}
.note, .text-link{
    font-size: 36px;
}
.text-link{
    color: #7B3F00;
    text-decoration: underline;
}
/* form */
input{
    font-size:1rem;
    padding:2px 8px;
    border:1px solid #ccc;
    border-radius:4px;
    width:100%;
    height:36px;
}
[type*="checkbox"]{
    width:16px;
    height:16px;
    margin-right: 16px;
}
label,input{
    font-size: 34px;
    vertical-align: middle;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 30px;
    /* row-gap: x; */
}
.field-group label a{
    font-size: 36px;
    color: #7B3F00;
    text-decoration: underline;
}

.field-group{
    margin-top: 50px;
    margin-bottom: 16px;
}
.field-group input[type="checkbox"]{
    width:30px;
    height:30px;
    background-color: rgb(0, 0, 0);
}

.text-center{
    margin-top: 10px;
    text-align: center;
}
.field-group input{
    height: 60px;
    border: 1px solid #7B3F00;
    border-radius: 20px;
}
.field-group a{
    text-align: center;
    font-size: 36px;
    color: black;
    text-decoration: none;
}

/* List table */
table{
    width:100%;
}
table .btn{
background-color: transparent;
color:#007BFF;
padding:4px 8px;
font-size:0.8rem;
border:1px solid #007BFF;
border-radius: 4px;
text-decoration: none;
text-align: center;
cursor:pointer;
transition:0.3s ease;
}
table .btn-danger{
border-color:#dc3545;
color:#dc3545;
}

table .btn-danger:hover{
   background-color:#a71d2a;
}


